body {
    background: white;
    margin: 0;
}

.header {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; 
}

.container-fluid {
    width: 100%; 
    padding: 0;
}

.title, .subtitle {
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.title {
    margin-top: 6em;
}

.title h1 {
    font-size: 10em;
    /* margin: 0; */
}

.subtitle h3 {
    font-size: 3em;
}