<div class="container-fluid"><!--principal-->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6"> <!--informacion-->
            <div><h1 class="d-inline"> This First Heading </h1><h1 class="text-muted d-inline"> Will Catch Your Eye</h1></div>
            <p class="fs-4"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-2"> <!--imagen-->
            <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1702/yupiramos170216745/72457269-naranja-esfera-de-medio-cuerpo-morena-calvo-hombre-con-barba-ilustraci%C3%B3n-vectorial.jpg?ver=6" class="rounded-circle" alt="calvoConBarba">
        </div>
    </div>
</div>