    <div class="container-fluid"><!--principal-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6"> <!--informacion-->
                <div><h1 class="d-inline"> This First Heading </h1><h1 class="text-muted d-inline"> Will Catch Your Eye</h1></div>
                <p class="fs-4"> Donec ullamcorper nullla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-2"> <!--imagen-->
                <img src="website/assets/img/1.jpg" class="rounded-circle" alt="calvoConBarba">
            </div>
        </div>
    </div>
