<div class="container d-md-flex gap-5 mt-4"><!--principal-->
    <div>

        <h1 class="d-inline"> This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>

        <p class="fs-4"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus
            commodo.</p>


    </div>
    <div>
        <img width="340" src="assets/img/1.jpg" class="rounded-circle" alt="calvoConBarba">

    </div>


</div>