<!-- <nav class="navbar navbar-expand bg-dark p-0">
    <div class="container-fluid d-flex align-items-center">
        <span class="navbar-brand text-light pt-0 pb-0">Start Bootstrap</span>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="./first_heading.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./portfolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
    <div class="row bg-dark justify-content-start align-items-center ps-3 pe-3 ">
        <div class="col-2 me-3 p-0">
            <span class="navbar-brand text-light pt-0 pb-0" id="logo">Start Bootstrap</span>
        </div>
        <div class="col-1 me-2 p-0">
            <a class="nav-link text-light navitem" href="./first_heading.html">About</a>
        </div>
        <div class="col-1 me-2 p-0">
            <a class="nav-link text-light navitem" href="./services.html">Services</a>
        </div>
        <div class="col-1 me-2 p-0">
            <a class="nav-link text-light navitem" href="./portfolio.html">Portfolio</a>
        </div>
        <div class="col-1 p-0">
            <a class="nav-link text-light navitem" href="./contact.html">Contact</a>
        </div>
    </div>