<div class="container">
    <div class="row d-flex justify-content-start bg-dark ps-3 pe-3">
        <div class="col-1 me-3 p-0 col-md-auto col-sm-auto">
            <span class="navbar-brand text-light pt-0 pb-0" id="logo">Start Bootstrap</span>
                        </div>
        <div class="col-1 me-2 p-0 col-md-auto col-sm-auto">
            <a class="nav-link text-light navitem" href="./first_heading.html">About</a>
        </div>
        <div class="col-1 me-2 p-0 col-md-auto col-sm-auto">
            <a class="nav-link text-light navitem" href="./services.html">Services</a>
        </div>
        <div class="col-1 me-2 p-0 col-md-auto col-sm-auto">
            <a class="nav-link text-light navitem" href="./portfolio.html">Portfolio</a>
        </div>
        <div class="col-1 p-0 col-md-auto col-sm-auto">
            <a class="nav-link text-light navitem" href="./contact.html">Contact</a>
        </div>
    </div>
</div>