<div class="container d-md-flex gap-5 mt-4"><!--principal-->
    
        <div> <!--imagen-->
            <img width="340" src="assets/img/2.jpg" class="rounded-circle" alt="teclado">
        </div>
        <div"> <!--informacion-->
            <div>
                <h1 class="d-inline"> The Second Heading <span class="text-muted"> Is Pretty Cool Too.</span></h1>
                <p class="fs-4"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commod cursus magna, vel scelerisque ris! consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
    
</div>